<div data-controller="image-preview">
  <p class="block text-lg font-bold">イメージ画像</p>

  <div class="flex flex-col sm:flex-row gap-y-2 sm:gap-x-4 mt-3 mb-10">
    <div class="w-full sm:w-1/2">
      <%= f.label :image, "ファイルから画像を追加", class: "w-full py-2 text-center border border-gray-400 rounded-md cursor-pointer font-semibold hover:bg-black hover:text-white transition-colors block" %>
      <%= f.file_field :image, class: "hidden", data: { image_preview_target: "input", action: "change->image-preview#preview" } %>
    </div>

    <div class="w-full sm:w-1/2">
      <button type="button" disabled class="w-full py-2 border border-gray-400 rounded-md bg-gray-100 font-semibold text-gray-500">イメージ画像を見つける</button>
    </div>
  </div>

  <div class="mt-4">
    <%= f.hidden_field :remove_image, value: '0', data: { image_preview_target: 'removeInput' } %>
    <div data-image-preview-target="existingImageWrapper" class="<%= 'hidden' if !(f.object.persisted? && f.object.image.attached? && f.object.image.persisted?) %>">
      <% if f.object.persisted? && f.object.image.attached? && f.object.image.persisted? %>
        <div class="relative w-32 h-32 z-0">
          <%= image_tag f.object.image, class: "w-32 h-32 object-cover rounded-lg" %>
          <button type="button"
                  class="absolute -top-2 -right-2 bg-gray-700 text-white rounded-full h-6 w-6 flex items-center justify-center text-xs font-bold hover:bg-red-600 transition-colors"
                  data-action="click->modal#open"
                  data-modal-title="イメージ画像の削除"
                  data-modal-body="イメージ画像を削除します。本当によろしいですか？"
                  data-modal-button-text="削除する"
                  data-modal-confirm-event-name-param="remove-image">
            ×
          </button>
        </div>
      <% end %>
    </div>

    <div data-image-preview-target="previewContainer">
    </div>
  </div>
</div>
